<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>User status information</h1>
    <ul>
        <li><h3>ID: {{ user_id }}</h3></li>
        <li><h3>Status: {{ user_status }}</h3></li>
        <li><h3>Name: {{ user_name }}</h3></li>
    </ul>
    <button onclick="window.location.href='http://127.0.0.1:8000/users/';">
             Back to users page
    </button>

</body>
</html>