#wrapper {
    background-color: #dddddd;
    width: 400px;
    border: 1px solid #000000;
    margin-left: 20px;
    padding: 10px;
}

#wrapper h1 {
    text-align: center;
}

#wrapper p {
    font-size: 18px;
}