<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="{% url 'delete_view' pk=object.pk %}" method="POST">
    <p>
        Are you sure you want to delete "{{ object }}"?
    </p>
    {{ form }}
    {% csrf_token %}
    <input type="submit" value="Confirm">
</form>

</body>
</html>