<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    Title: {{ article.title }}
    <br>
    Info: {{ article.info }}
    <div>
        <a href="{% url 'update_view' pk=article.pk %}">Update the article</a>
        <a href="{% url 'delete_view' pk=article.pk %}">Delete the article</a>
        <a href="{% url 'list_view' %}">Back to the list</a>
    </div>

</body>
</html>